In [1]:
import requests
import re
import numpy as np
import pandas as pd
from bs4 import BeautifulSoup

- Position
- Company Name
- Location
- Start Date
- CTC (Annual)
- Experience
- Posted Ago
- Role

In [2]:
position=[]
company_name=[]
location=[]
details=[]
start_date=[]
ctc=[]
experience=[]
container=[]
posted_ago=[]
role=[]

for i in range(1,11):
    url = f'https://internshala.com/jobs/page-{i}/'
    page = requests.get(url)
    soup = BeautifulSoup(page.text)
    
    for i in soup.find_all('h3',class_='heading_4_5 profile'):
        text=i.text
        text=text.strip()
        if text:
            position.append(text)
        else:
            position.append(np.nan)
            
    for i in soup.find_all('h4',class_='heading_6 company_name'):
        text=i.text
        text=text.strip()
        if text:
            company_name.append(text)
        else:
            company_name.append(np.nan)
            
    for i in soup.find_all('p',id='location_names'):
        text=i.text
        text=text.strip()
        if text:
            location.append(text)
        else:
            location.append(np.nan)
            
    for i in soup.find_all('div',id='start-date-first'):
        text=i.text
        text=text.strip()
        if text:
            start_date.append(text)
        else:
            start_date.append(np.nan)
            
    for i in soup.find_all('div',class_='other_detail_item salary_container'):
        text=i.find('div',class_='item_body salary')
        text=text.find('span',class_='desktop')
        text=text.text
        text=text.strip()
        if text:
            ctc.append(text)
        else:
            ctc.append(np.nan)
            
    for i in soup.find_all('div',class_='other_detail_item job-experience-item'):
        text=i.find('div',class_='item_body desktop-text')
        text=text.text
        text=text.strip()
        if text:
            experience.append(text)
        else:
            experience.append(np.nan)
            
    for i in soup.find_all('div',class_='posted_by_container'):
        text=i.text
        text=text.strip()
        if text:
            posted_ago.append(text)
        else:
            posted_ago.append(np.nan)
            
    for i in soup.find_all('div',class_='other_label_container'):
        text=i.text
        text=text.strip()
        if text:
            role.append(text)
        else:
            role.append(np.nan)

In [3]:
dic = {
    'Position':position,
    'Company Name':company_name,
    'Location':location,
    'Start Date':start_date,
    'CTC (Annual)':ctc,
    'Experience':experience,
    'Posted Ago':posted_ago,
    'Role':role
}

In [4]:
df=pd.DataFrame(dic)

In [5]:
df

,Position,Company Name,Location,Start Date,CTC (Annual),Experience,Posted Ago,Role
0,Junior Interior Designer,Dexterio Private Limited,Jaipur,Starts Immediately,"₹ 2,00,000 - 2,40,000",0-2 years,3 weeks ago,Job
1,Business Development Representative - B2B SaaS,Zylu Business Solutions Private Limited,Bangalore,Starts Immediately,"₹ 3,00,000 - 5,00,000",0-5 years,1 day ago,Job
2,Corporate Sales Specialist,Hot Stuffs Private Limited,Mumbai,Starts Immediately,"₹ 2,10,000 - 3,00,000",0-2 years,6 days ago,Job
3,Career Guidance Expert - Sales,NxtWave Disruptive Technologies Private Limited,Work from home,Starts Immediately,"₹ 3,00,000 - 6,00,000",0-5 years,2 weeks ago,Job
4,Video Content Creator,ReThought Technologies Private Limited,Delhi,Starts Immediately,"₹ 2,00,000 - 3,00,000",0-2 years,2 weeks ago,Job
...,...,...,...,...,...,...,...,...
404,Business Development Executive,Mohite Consultancy Services (MCS),Koramangala,Starts Immediately,"₹ 2,16,000 - 2,40,000",0-2 years,1 week ago,Job
405,Engagement Strategist,OpeninApp,Bangalore,Starts Immediately,"₹ 2,00,000 - 8,00,000",0-5 years,1 week ago,Job
406,Brand Partnerships Associate,Confluencr,Bangalore,Starts Immediately,"₹ 3,00,000 - 4,50,000",0-2 years,6 days ago,Job
407,Business Development Executive,Nerdy Academy,Mumbai,Starts Immediately,"₹ 2,40,000 - 5,80,000",0-5 years,3 weeks ago,Job
408,Junior Lead Generation Associate,Fabulous Media Private Limited,Gurgaon,Starts Immediately,"₹ 2,00,000 - 3,00,000",0-2 years,5 days ago,Job

In [6]:
df.to_csv('InternshalaJobs.csv')