In [1]:
import requests
import re
import numpy as np
import pandas as pd
from bs4 import BeautifulSoup

In [2]:
url = 'https://internshala.com/jobs/'
page = requests.get(url)
soup = BeautifulSoup(page.text)

In [3]:
page

In [4]:
position=[]
for i in soup.find_all('h3',class_='heading_4_5 profile'):
    text=i.text
    text=text.strip()
    if text:
        position.append(text)
    else:
        position.append(np.nan)

In [5]:
position

['Junior Interior Designer',
 'Business Development Representative - B2B SaaS',
 'Corporate Sales Specialist',
 'Career Guidance Expert - Sales',
 'Video Content Creator',
 'SEO And Google Ads Executive',
 'Social Media Marketing Manager',
 'Operations Associate',
 'Business Development Associate (International Sales)',
 'Social Media Executive',
 'Senior Content Writer',
 'HR Executive',
 'Digital Marketing Executive',
 'Business Development Manager',
 'Business Development Executive',
 'Dealer (Broking Industry)',
 'Human Resources (HR) Manager',
 'Associate Video Editor',
 'Business Development Executive',
 'Music Tracker',
 'Sales Support Executive',
 'Brand Development Strategist',
 'Subject Matter Expert - Economics/Accounts',
 'Advocate',
 'Telephonic Admissions Counselor',
 'Junior Lead Generation Executive',
 'Field Sales Manager',
 'Admissions Counselor',
 'Receptionist',
 'Business Development Manager',
 'UI/UX Designer',
 'Videographer',
 'Business Development Executive',
 'Marketing Executive',
 'Business Development Associate',
 'Graphic Designer',
 'Academic Counselor',
 'Associate Content Developer (Mathematics)',
 'Junior Social Media Marketing Specialist',
 'Digital Marketing Executive',
 'Finance Professional',
 'HR Executive & Corporate Assistant',
 'Maths Voiceover And Video Solutions Specialist (Female Only)',
 'Business Development Executive',
 'Subject Matter Expert (Advanced Physics)',
 'Sales Development Representative',
 'Graphic Designer',
 'Associate Product Designer',
 'UI/UX Designer']

In [6]:
len(position)

49

In [7]:
company_name=[]
for i in soup.find_all('h4',class_='heading_6 company_name'):
    text=i.text
    text=text.strip()
    if text:
        company_name.append(text)
    else:
        company_name.append(np.nan)

In [8]:
company_name

['Dexterio Private Limited',
 'Zylu Business Solutions Private Limited',
 'Hot Stuffs Private Limited',
 'NxtWave Disruptive Technologies Private Limited',
 'ReThought Technologies Private Limited',
 'HireDesigners',
 'ReThought Technologies Private Limited',
 'Tyke Technology Private Limited',
 'Internshala',
 'Zivaya Wellness Private Limited',
 'Zivaya Wellness Private Limited',
 'Zivaya Wellness Private Limited',
 'Zivaya Wellness Private Limited',
 'Zivaya Wellness Private Limited',
 'Empirical F & M Academy',
 'Zigsaw Consultancy',
 'MoLog Media & Advertising',
 'Sarkariexam360',
 'DMatic Digital Private Limited',
 'Saregama India Limited',
 'IPMovers IT Private Limited',
 'Envision Next LLP',
 'ProBrain',
 'Anuj Raval',
 'MILLENNIUM WORLD SCHOOL BENGALURU NORTH',
 'Helloworld Technologies India Private Limited',
 'Daily Flowers India Private Limited',
 'MILLENNIUM WORLD SCHOOL BENGALURU NORTH',
 'MILLENNIUM WORLD SCHOOL BENGALURU NORTH',
 'Gobabygo (OPC) Private Limited',
 'MiM-Essay',
 'Zivaya Wellness Private Limited',
 'Jus Amazin Foods & Beverages Private Limited',
 'Jus Amazin Foods & Beverages Private Limited',
 'Hedge Homes',
 'Minus Equals Plus',
 'Eduonix Learning Solutions Private Limited',
 'SKILLZINFINITY INDIA PRIVATE LIMITED',
 'Minus Equals Plus',
 'Neeti Brand Accelerator',
 'HRM Solutions',
 'Esinagrow.org',
 'InfyBytes AI Labs Private Limited',
 'Exaltica',
 'Vaidik EduServices Private Limited',
 'Jalan Technology Consulting',
 'The Mind Drama',
 'Jalan Technology Consulting',
 'Espangle Consulting']

In [9]:
len(company_name)

49

In [10]:
location=[]
for i in soup.find_all('p',id='location_names'):
    text=i.text
    text=text.strip()
    if text:
        location.append(text)
    else:
        location.append(np.nan)

In [11]:
location

['Jaipur',
 'Bangalore',
 'Mumbai',
 'Work from home',
 'Delhi',
 'Noida',
 'Delhi',
 'Mumbai',
 'Gurgaon',
 'Indore',
 'Indore',
 'Indore',
 'Indore',
 'Indore',
 'Mumbai',
 'Vijayawada, Cochin, Visakhapatnam, Bangalore, Hyderabad, Coimbatore, Madurai',
 'Gurgaon',
 'Work from home',
 'Pune',
 'Work from home',
 'Indore',
 'Navi Mumbai',
 'Moradabad',
 'Mumbai',
 'Bangalore',
 'Bangalore',
 'Bhubaneswar',
 'Bangalore',
 'Bangalore',
 'Delhi, Noida',
 'Delhi',
 'Indore',
 'Bangalore',
 'Bangalore',
 'Noida',
 'Gurgaon, Delhi',
 'Mumbai, Navi Mumbai, Thane, Panvel',
 'Hyderabad',
 'Gurgaon, Delhi',
 'Mumbai',
 'Gurgaon',
 'Pune',
 'Work from home',
 'Work from home',
 'Work from home',
 'Jaipur',
 'Ahmedabad',
 'Jaipur',
 'Gurgaon']

In [12]:
len(location)

49

In [13]:
start_date=[]
for i in soup.find_all('div',id='start-date-first'):
    text=i.text
    text=text.strip()
    if text:
        start_date.append(text)
    else:
        start_date.append(np.nan)

In [14]:
start_date

['Starts\xa0Immediately',
 'Starts\xa0Immediately',
 'Starts\xa0Immediately',
 'Starts\xa0Immediately',
 'Starts\xa0Immediately',
 'Starts\xa0Immediately',
 'Starts\xa0Immediately',
 'Starts\xa0Immediately',
 'Starts\xa0Immediately',
 'Starts\xa0Immediately',
 'Starts\xa0Immediately',
 'Starts\xa0Immediately',
 'Starts\xa0Immediately',
 'Starts\xa0Immediately',
 'Starts\xa0Immediately',
 'Starts\xa0Immediately',
 'Starts\xa0Immediately',
 'Starts\xa0Immediately',
 'Starts\xa0Immediately',
 'Starts\xa0Immediately',
 'Starts\xa0Immediately',
 'Starts\xa0Immediately',
 'Starts\xa0Immediately',
 'Starts\xa0Immediately',
 'Starts\xa0Immediately',
 'Starts\xa0Immediately',
 'Starts\xa0Immediately',
 'Starts\xa0Immediately',
 'Starts\xa0Immediately',
 'Starts\xa0Immediately',
 'Starts\xa0Immediately',
 'Starts\xa0Immediately',
 'Starts\xa0Immediately',
 'Starts\xa0Immediately',
 'Starts\xa0Immediately',
 'Starts\xa0Immediately',
 'Starts\xa0Immediately',
 'Starts\xa0Immediately',
 'Starts\xa0Immediately',
 'Starts\xa0Immediately',
 'Starts\xa0Immediately',
 'Starts\xa0Immediately',
 'Starts\xa0Immediately',
 'Starts\xa0Immediately',
 'Starts\xa0Immediately',
 'Starts\xa0Immediately',
 'Starts\xa0Immediately',
 'Starts\xa0Immediately',
 'Starts\xa0Immediately']

In [15]:
len(start_date)

49

In [16]:
ctc=[]
for i in soup.find_all('div',class_='other_detail_item salary_container'):
    text=i.find('div',class_='item_body salary')
    text=text.find('span',class_='desktop')
    text=text.text
    text=text.strip()
    if text:
        ctc.append(text)
    else:
        ctc.append(np.nan)

In [17]:
ctc

['₹ 2,00,000 - 2,40,000',
 '₹ 3,00,000 - 5,00,000',
 '₹ 2,10,000 - 3,00,000',
 '₹ 3,00,000 - 6,00,000',
 '₹ 2,00,000 - 3,00,000',
 '₹ 2,00,000 - 3,60,000',
 '₹ 2,00,000 - 3,50,000',
 '₹ 2,40,000 - 2,70,000',
 '₹ 3,60,000 - 4,00,000',
 '₹ 2,00,000 - 4,20,000',
 '₹ 2,00,000 - 4,80,000',
 '₹ 2,00,000 - 3,60,000',
 '₹ 2,00,000 - 4,80,000',
 '₹ 2,00,000 - 4,80,000',
 '₹ 2,00,000 - 3,00,000',
 '₹ 3,00,000 - 5,50,000',
 '₹ 5,00,000 - 6,00,000',
 '₹ 2,00,000 - 3,00,000',
 '₹ 2,00,000 - 2,20,000',
 '₹ 2,00,000 - 2,16,000',
 '₹ 2,00,000 - 2,60,000',
 '₹ 2,40,000 - 4,20,000',
 '₹ 2,20,000',
 '₹ 2,00,000',
 '₹ 2,50,000 - 3,00,000',
 '₹ 2,60,000 - 3,00,000',
 '₹ 3,00,000 - 3,50,000',
 '₹ 3,25,000 - 3,50,000',
 '₹ 2,50,000 - 3,00,000',
 '₹ 3,00,000 - 5,00,000',
 '₹ 4,00,000 - 5,00,000',
 '₹ 2,00,000',
 '₹ 2,00,000 - 2,50,000',
 '₹ 2,00,000',
 '₹ 3,00,000 - 5,00,000',
 '₹ 2,20,000 - 3,00,000',
 '₹ 2,00,000 - 4,20,000',
 '₹ 3,00,000 - 5,00,000',
 '₹ 2,00,000 - 3,00,000',
 '₹ 4,00,000 - 4,50,000',
 '₹ 2,00,000 - 2,40,000',
 '₹ 2,00,000 - 2,40,000',
 '₹ 2,50,000 - 3,00,000',
 '₹ 4,00,000 - 6,00,000',
 '₹ 2,00,000 - 3,00,000',
 '₹ 3,00,000 - 5,00,000',
 '₹ 2,04,000 - 2,40,000',
 '₹ 3,00,000 - 6,00,000',
 '₹ 4,80,000 - 6,50,000']

In [18]:
len(ctc)

49

In [19]:
experience=[]
for i in soup.find_all('div',class_='other_detail_item job-experience-item'):
    text=i.find('div',class_='item_body desktop-text')
    text=text.text
    text=text.strip()
    if text:
        experience.append(text)
    else:
        experience.append(np.nan)

In [20]:
experience

['0-2 years',
 '0-5 years',
 '0-2 years',
 '0-5 years',
 '0-2 years',
 '0-2 years',
 '0-2 years',
 '0-2 years',
 '0-2 years',
 '0-2 years',
 '0-2 years',
 '0-2 years',
 '0-2 years',
 '0-2 years',
 '0-2 years',
 '1-4 years',
 '3-5 years',
 '0-2 years',
 '0-2 years',
 '0-2 years',
 '0-2 years',
 '0-2 years',
 '0-2 years',
 '0-2 years',
 '0-2 years',
 '0-2 years',
 '0-2 years',
 '0-2 years',
 '0-2 years',
 '0-5 years',
 '0-5 years',
 '0-2 years',
 '0-3 years',
 '0-3 years',
 '0-5 years',
 '1-3 years',
 '0-2 years',
 '0-5 years',
 '1-2 years',
 '0-2 years',
 '1-3 years',
 '0-2 years',
 '0-2 years',
 '0-5 years',
 '0-2 years',
 '0-2 years',
 '0-2 years',
 '1-3 years',
 '0-5 years']

In [21]:
len(experience)

49

In [22]:
posted_ago=[]
for i in soup.find_all('div',class_='posted_by_container'):
    text=i.text
    text=text.strip()
    if text:
        posted_ago.append(text)
    else:
        posted_ago.append(np.nan)

In [23]:
posted_ago

['3 weeks ago',
 '1 day ago',
 '6 days ago',
 '2 weeks ago',
 '2 weeks ago',
 '2 weeks ago',
 '2 weeks ago',
 '1 week ago',
 '4 days ago',
 'Just now',
 'Just now',
 'Just now',
 'Just now',
 'Just now',
 'Just now',
 'Just now',
 'Just now',
 'Just now',
 'Just now',
 'Just now',
 'Just now',
 'Just now',
 'Just now',
 'Just now',
 'Just now',
 'Just now',
 'Just now',
 'Just now',
 'Just now',
 'Just now',
 'Just now',
 'Just now',
 'Just now',
 'Just now',
 'Just now',
 'Just now',
 'Just now',
 '2 days ago',
 'Just now',
 '3 days ago',
 'Just now',
 'Just now',
 'Just now',
 'Just now',
 'Just now',
 '1 day ago',
 '1 day ago',
 '1 day ago',
 '1 day ago']

In [24]:
len(posted_ago)

49

In [25]:
role=[]
for i in soup.find_all('div',class_='other_label_container'):
    text=i.text
    text=text.strip()
    if text:
        role.append(text)
    else:
        role.append(np.nan)

In [26]:
role

['Job',
 'Job',
 'Job',
 'Job',
 'Job',
 'Job',
 'Job',
 'Job',
 'Job',
 'Job',
 'Job',
 'Job',
 'Job',
 'Job',
 'Job',
 'Job',
 'Job',
 'Job',
 'Job',
 'Job',
 'Job',
 'Job',
 'Job',
 'Job',
 'Job',
 'Job',
 'Job',
 'Job',
 'Job',
 'Job',
 'Job',
 'Job',
 'Job',
 'Job',
 'Job',
 'Job',
 'Job',
 'Job',
 'Job',
 'Job',
 'Job',
 'Job',
 'Job',
 'Job',
 'Job',
 'Job',
 'Job',
 'Job',
 'Job']

In [27]:
len(role)

49

In [28]:
dic = {
    'Position':position,
    'Company Name':company_name,
    'Location':location,
    'Start Date':start_date,
    'CTC (Annual)':ctc,
    'Experience':experience,
    'Posted Ago':posted_ago,
    'Role':role
}

In [29]:
df=pd.DataFrame(dic)

In [30]:
df

,Position,Company Name,Location,Start Date,CTC (Annual),Experience,Posted Ago,Role
0,Junior Interior Designer,Dexterio Private Limited,Jaipur,Starts Immediately,"₹ 2,00,000 - 2,40,000",0-2 years,3 weeks ago,Job
1,Business Development Representative - B2B SaaS,Zylu Business Solutions Private Limited,Bangalore,Starts Immediately,"₹ 3,00,000 - 5,00,000",0-5 years,1 day ago,Job
2,Corporate Sales Specialist,Hot Stuffs Private Limited,Mumbai,Starts Immediately,"₹ 2,10,000 - 3,00,000",0-2 years,6 days ago,Job
3,Career Guidance Expert - Sales,NxtWave Disruptive Technologies Private Limited,Work from home,Starts Immediately,"₹ 3,00,000 - 6,00,000",0-5 years,2 weeks ago,Job
4,Video Content Creator,ReThought Technologies Private Limited,Delhi,Starts Immediately,"₹ 2,00,000 - 3,00,000",0-2 years,2 weeks ago,Job
5,SEO And Google Ads Executive,HireDesigners,Noida,Starts Immediately,"₹ 2,00,000 - 3,60,000",0-2 years,2 weeks ago,Job
6,Social Media Marketing Manager,ReThought Technologies Private Limited,Delhi,Starts Immediately,"₹ 2,00,000 - 3,50,000",0-2 years,2 weeks ago,Job
7,Operations Associate,Tyke Technology Private Limited,Mumbai,Starts Immediately,"₹ 2,40,000 - 2,70,000",0-2 years,1 week ago,Job
8,Business Development Associate (International ...,Internshala,Gurgaon,Starts Immediately,"₹ 3,60,000 - 4,00,000",0-2 years,4 days ago,Job
9,Social Media Executive,Zivaya Wellness Private Limited,Indore,Starts Immediately,"₹ 2,00,000 - 4,20,000",0-2 years,Just now,Job
10,Senior Content Writer,Zivaya Wellness Private Limited,Indore,Starts Immediately,"₹ 2,00,000 - 4,80,000",0-2 years,Just now,Job
11,HR Executive,Zivaya Wellness Private Limited,Indore,Starts Immediately,"₹ 2,00,000 - 3,60,000",0-2 years,Just now,Job
12,Digital Marketing Executive,Zivaya Wellness Private Limited,Indore,Starts Immediately,"₹ 2,00,000 - 4,80,000",0-2 years,Just now,Job
13,Business Development Manager,Zivaya Wellness Private Limited,Indore,Starts Immediately,"₹ 2,00,000 - 4,80,000",0-2 years,Just now,Job
14,Business Development Executive,Empirical F & M Academy,Mumbai,Starts Immediately,"₹ 2,00,000 - 3,00,000",0-2 years,Just now,Job
15,Dealer (Broking Industry),Zigsaw Consultancy,"Vijayawada, Cochin, Visakhapatnam, Bangalore, ...",Starts Immediately,"₹ 3,00,000 - 5,50,000",1-4 years,Just now,Job
16,Human Resources (HR) Manager,MoLog Media & Advertising,Gurgaon,Starts Immediately,"₹ 5,00,000 - 6,00,000",3-5 years,Just now,Job
17,Associate Video Editor,Sarkariexam360,Work from home,Starts Immediately,"₹ 2,00,000 - 3,00,000",0-2 years,Just now,Job
18,Business Development Executive,DMatic Digital Private Limited,Pune,Starts Immediately,"₹ 2,00,000 - 2,20,000",0-2 years,Just now,Job
19,Music Tracker,Saregama India Limited,Work from home,Starts Immediately,"₹ 2,00,000 - 2,16,000",0-2 years,Just now,Job
20,Sales Support Executive,IPMovers IT Private Limited,Indore,Starts Immediately,"₹ 2,00,000 - 2,60,000",0-2 years,Just now,Job
21,Brand Development Strategist,Envision Next LLP,Navi Mumbai,Starts Immediately,"₹ 2,40,000 - 4,20,000",0-2 years,Just now,Job
22,Subject Matter Expert - Economics/Accounts,ProBrain,Moradabad,Starts Immediately,"₹ 2,20,000",0-2 years,Just now,Job
23,Advocate,Anuj Raval,Mumbai,Starts Immediately,"₹ 2,00,000",0-2 years,Just now,Job
24,Telephonic Admissions Counselor,MILLENNIUM WORLD SCHOOL BENGALURU NORTH,Bangalore,Starts Immediately,"₹ 2,50,000 - 3,00,000",0-2 years,Just now,Job
25,Junior Lead Generation Executive,Helloworld Technologies India Private Limited,Bangalore,Starts Immediately,"₹ 2,60,000 - 3,00,000",0-2 years,Just now,Job
26,Field Sales Manager,Daily Flowers India Private Limited,Bhubaneswar,Starts Immediately,"₹ 3,00,000 - 3,50,000",0-2 years,Just now,Job
27,Admissions Counselor,MILLENNIUM WORLD SCHOOL BENGALURU NORTH,Bangalore,Starts Immediately,"₹ 3,25,000 - 3,50,000",0-2 years,Just now,Job
28,Receptionist,MILLENNIUM WORLD SCHOOL BENGALURU NORTH,Bangalore,Starts Immediately,"₹ 2,50,000 - 3,00,000",0-2 years,Just now,Job
29,Business Development Manager,Gobabygo (OPC) Private Limited,"Delhi, Noida",Starts Immediately,"₹ 3,00,000 - 5,00,000",0-5 years,Just now,Job
30,UI/UX Designer,MiM-Essay,Delhi,Starts Immediately,"₹ 4,00,000 - 5,00,000",0-5 years,Just now,Job
31,Videographer,Zivaya Wellness Private Limited,Indore,Starts Immediately,"₹ 2,00,000",0-2 years,Just now,Job
32,Business Development Executive,Jus Amazin Foods & Beverages Private Limited,Bangalore,Starts Immediately,"₹ 2,00,000 - 2,50,000",0-3 years,Just now,Job
33,Marketing Executive,Jus Amazin Foods & Beverages Private Limited,Bangalore,Starts Immediately,"₹ 2,00,000",0-3 years,Just now,Job
34,Business Development Associate,Hedge Homes,Noida,Starts Immediately,"₹ 3,00,000 - 5,00,000",0-5 years,Just now,Job
35,Graphic Designer,Minus Equals Plus,"Gurgaon, Delhi",Starts Immediately,"₹ 2,20,000 - 3,00,000",1-3 years,Just now,Job
36,Academic Counselor,Eduonix Learning Solutions Private Limited,"Mumbai, Navi Mumbai, Thane, Panvel",Starts Immediately,"₹ 2,00,000 - 4,20,000",0-2 years,Just now,Job
37,Associate Content Developer (Mathematics),SKILLZINFINITY INDIA PRIVATE LIMITED,Hyderabad,Starts Immediately,"₹ 3,00,000 - 5,00,000",0-5 years,2 days ago,Job
38,Junior Social Media Marketing Specialist,Minus Equals Plus,"Gurgaon, Delhi",Starts Immediately,"₹ 2,00,000 - 3,00,000",1-2 years,Just now,Job
39,Digital Marketing Executive,Neeti Brand Accelerator,Mumbai,Starts Immediately,"₹ 4,00,000 - 4,50,000",0-2 years,3 days ago,Job
40,Finance Professional,HRM Solutions,Gurgaon,Starts Immediately,"₹ 2,00,000 - 2,40,000",1-3 years,Just now,Job
41,HR Executive & Corporate Assistant,Esinagrow.org,Pune,Starts Immediately,"₹ 2,00,000 - 2,40,000",0-2 years,Just now,Job
42,Maths Voiceover And Video Solutions Specialist...,InfyBytes AI Labs Private Limited,Work from home,Starts Immediately,"₹ 2,50,000 - 3,00,000",0-2 years,Just now,Job
43,Business Development Executive,Exaltica,Work from home,Starts Immediately,"₹ 4,00,000 - 6,00,000",0-5 years,Just now,Job
44,Subject Matter Expert (Advanced Physics),Vaidik EduServices Private Limited,Work from home,Starts Immediately,"₹ 2,00,000 - 3,00,000",0-2 years,Just now,Job
45,Sales Development Representative,Jalan Technology Consulting,Jaipur,Starts Immediately,"₹ 3,00,000 - 5,00,000",0-2 years,1 day ago,Job
46,Graphic Designer,The Mind Drama,Ahmedabad,Starts Immediately,"₹ 2,04,000 - 2,40,000",0-2 years,1 day ago,Job
47,Associate Product Designer,Jalan Technology Consulting,Jaipur,Starts Immediately,"₹ 3,00,000 - 6,00,000",1-3 years,1 day ago,Job
48,UI/UX Designer,Espangle Consulting,Gurgaon,Starts Immediately,"₹ 4,80,000 - 6,50,000",0-5 years,1 day ago,Job

In [31]:
df.to_csv('Internshala.csv')